@import "_mixins.scss";
$primary: #F2E4E1;
$secondary: #BA551C;
$secondary-hover: #B24304;
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
}

//.heading {
//    font-family: 'Cormorant Garamond', serif;
//}
.container {
    width: 100%;
    max-width: 1144px;
    margin: 0 auto;
    @include tablet {
        max-width: 878px;
    }
    @include tablet-port {
        max-width: 670px;
    }
    @include phone {
        max-width: 425px;
    }
}

#error-checkbox {
    display: none;
}

.error {
    color: #DF0000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    position: absolute;
    top: 42px;
}

.btn {
    background-color: $secondary;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12px 48px;
    font-family: 'Jost', sans-serif;
    &:hover {
        background-color: $secondary-hover;
    }
}

.burger {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 462px;
    background-color: white;
    border-radius: 8px 0 0 0;
    box-shadow: -3px 4px 3px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    z-index: 10;
    @include phone {
        width: 320px;
    }
    &__header {
        display: flex;
        justify-content: end;
        padding: 15px 49px;
        background-color: $primary;
    }
    &__close {
        cursor: pointer;
    }
    &__content {
        padding: 45px;
        @include phone {
            padding: 35px;
        }
    }
    &__link {
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 52px;
        color: black;
        text-decoration: none;
    }
    .header__btn {
        display: inline-block !important;
    }
}

.header {
    width: 100%;
    height: 100px;
    color: black;
    background-color: $primary;
    border-bottom: 1px solid #8F959A;
    @include phone {
        padding-right: 32px;
        box-sizing: border-box;
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__burger {
        display: none;
        @include tablet-port {
            display: block;
        }
    }
    &__link {
        color: black;
        text-decoration: none;
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
        @include tablet-port {
            display: none;
        }
    }
    &__btn {
        background-color: transparent;
        outline: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        padding: 8px 53px;
        letter-spacing: 1px;
        border: 2px solid #000000;
        cursor: pointer;
        font-family: 'Jost', sans-serif;
        display: block;
        text-decoration: none;
        color: black;
        box-sizing: border-box;
        &:hover {
            background-color: black;
            color: white;
        }
        @include tablet-port {
            display: none;
        }
    }
}

.promo {
    height: 940px;
    background-color: $primary;
    @include tablet {
        height: 794px;
    }
    @include tablet-port {
        height: 535px;
    }
    &__block {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        background-image: url(../img/promo.jpg);
        @include tablet {
            background-position: -130px bottom;
        }
        @include tablet-port {
            background-position: -8px bottom;
        }
        @include phone {
            background-image: none;
            padding-left: 32px;
            box-sizing: border-box;
        }
    }
    &__heading {
        padding-top: 199px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 400;
        font-size: 112px;
        line-height: 110px;
        @include tablet {
            font-size: 72px;
            line-height: 115%;
        }
        @include tablet-port {
            font-size: 64px;
            line-height: 111%;
        }
        @include phone {
            padding-top: 104px;
        }
    }
    &__text {
        margin-top: 19px;
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 26px;
        line-height: 29px;
        @include tablet {
            font-size: 24px;
        }
        @include tablet-port {
            font-size: 22px;
            line-height: 120%;
        }
    }
}

.advantage {
    display: flex;
    justify-content: space-around;
    @include phone {
        flex-wrap: wrap;
    }
    &__block {
        width: 257px;
        @include tablet-port {
            width: 200px;
        }
        @include phone {
            width: 238px;
        }
    }
    &__img {
        margin-top: 92px;
        @include phone {
            margin-top: 52px;
        }
    }
    &__heading {
        margin-top: 22px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        @include tablet-port {
            font-size: 18px;
            line-height: 130%;
        }
    }
    &__text {
        margin-bottom: 83px;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        @include tablet-port {
            font-size: 16px;
            line-height: 130%;
        }
        @include phone {
            margin-bottom: 0;
        }
    }
}

.about {
    height: 948px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
        height: 799px;
    }
    @include tablet-port {
        height: 768px;
    }
    @include phone {
        flex-direction: column;
        height: auto;
        align-items: normal;
        margin-left: 32px;
    }
    &__heading-top {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 43px;
        margin-top: 32px;
        margin-bottom: 24px;
        display: none;
        @include phone {
            display: block;
        }
    }
    &__left {
        position: relative;
    }
    &__border {
        width: 405px;
        height: 607px;
        border: 1px solid #CEB1AD;
        @include tablet {
            width: 310px;
            height: 464px;
        }
        @include tablet-port {
            display: none;
        }
        @include phone {
            height: 357px;
        }
    }
    &__img {
        position: absolute;
        z-index: 1;
        left: 16px;
        bottom: 16px;
        @include tablet {
            width: 392px;
        }
        @include tablet-port {
            width: 307px;
            left: 8px;
            bottom: 8px;
        }
        @include phone {
            width: 302px;
            position: static;
            margin-bottom: 41px;
        }
    }
    &__right {
        width: 479px;
        position: relative;
        top: -100px;
        @include tablet {
            width: 378px;
            top: -60px;
        }
        @include tablet-port {
            width: 315px;
            top: -45px;
        }
        @include phone {
            top: 0;
            margin-bottom: 80px;
        }
    }
    &__heading {
        margin-bottom: 32px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
        @include tablet-port {
            position: absolute;
            left: -340px;
            top: -80px;
            font-size: 26px;
            line-height: 43px;
        }
        @include phone {
            display: none;
        }
    }
    &__text {
        margin-bottom: 41px;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        @include tablet-port {
            line-height: 130%;
            margin-bottom: 20px;
        }
    }
    &__link {
        text-decoration: none;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: $secondary;
    }
}

.services {
    background-color: #F1F1F1;
    height: 889px;
    display: flex;
    align-items: center;
    @include tablet-port {
        height: 689px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        width: 506px;
        position: relative;
        @include phone {
            width: 100%;
            padding: 0 32px;
        }
    }
    &__heading {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
        margin-bottom: 54px;
        @include tablet-port {
            font-size: 26px;
            line-height: 43px;
        }
        @include tablet-port {
            margin-bottom: 24px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
        border-bottom: 1px solid #8F959A;
        @include tablet-port {
            padding-bottom: 18px;
        }
    }
    &__text--last {
        margin-bottom: 0;
    }
    &__price {
        font-weight: 600;
        font-size: 21px;
        line-height: 130%;
        @include tablet-port {
            width: 130px;
            text-align: right;
        }
    }
    &__right {
        position: relative;
        @include tablet {
            margin-left: 51px;
        }
        @include phone {
            display: none;
        }
    }
    &__border {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 405px;
        height: 607px;
        border: 1px solid #CEB1AD;
        z-index: 1;
        @include tablet {
            width: 310px;
            height: 484px;
        }
        @include tablet-port {
            width: 251px;
            height: 374px;
        }
    }
    &__img {
        position: relative;
        right: 16px;
        bottom: 16px;
        z-index: 2;
        @include tablet {
            max-width: 392px;
        }
        @include tablet-port {
            max-width: 308px;
            right: 8px;
            bottom: 8px;
        }
    }
    &__btn {
        margin-top: 42px;
        display: inline-block;
        @include tablet-port {
            margin-top: 32px;
        }
        @include phone {
            display: block;
            width: 268px;
            margin: 0 auto;
            box-sizing: border-box;
            text-align: center;
            margin-top: 32px;
        }
    }
}

.feedback {
    background-color: $primary;
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    background-image: url(../img/feedback.jpg);
    @include tablet {
        background-image: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 761px;
        @include tablet {
            max-width: calc(100% - 98px);
            padding-left: 98px;
        }
        @include tablet-port {
            max-width: calc(100% - 58px);
            padding-left: 58px;
        }
        @include phone {
            max-width: 100%;
            padding: 0 32px;
            height: 653px;
            box-sizing: border-box;
        }
    }
    &__left {}
    &__right {
        @include tablet {
            margin-left: 55px;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position-x: right;
            background-repeat: no-repeat;
            background-image: url(../img/feedback.jpg);
        }
        @include tablet-port {
            background-position-x: -220px;
        }
        @include phone {
            display: none;
        }
    }
    h3 {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
        margin-bottom: 7px;
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 28px;
    }
    &__wrap {
        margin-bottom: 19px;
    }
    &__label {
        display: block;
        margin-bottom: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    &__input-text {
        width: 520px;
        padding: 10px 16px;
        border: 1px solid #000000;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #838383;
        outline: none;
        @include tablet {
            width: 404px;
        }
        @include tablet-port {
            width: 359px
        }
        @include phone {
            width: 100%;
        }
        &.error-input::placeholder {
            color: #FF0000;
        }
    }
    &__form-check {
        position: relative;
        margin-bottom: 32px;
        #error-checkbox {
            top: 32px;
        }
        @include phone {
            margin-bottom: 52px;
            #error-checkbox {
                top: 47px;
            }
        }
    }
    &__form-check-inp {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__form-check-inp+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    &__form-check-inp+label::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid black;
        background: #FFFFFF;
        margin-right: 1.1em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    &__form-check-inp:checked+label::before {
        border-color: $secondary;
        background-color: $secondary;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
    &__left-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        span {
            border-bottom: 1px solid $primary;
        }
    }
    &__button {
        @include phone {
            width: 100%;
        }
    }
}

.portfolio {
    padding-top: 154px;
    margin-bottom: 204px;
    @include phone {
        padding-top: 72px;
        margin-bottom: 55px;
    }
    &__heading {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
        margin-bottom: 32px;
        @include phone {
            padding-left: 32px;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: black;
        text-decoration: none;
        @include phone {
            width: 240px;
            padding-left: 32px;
        }
    }
    &__icon {
        margin-left: 16px;
    }
    &__slider {
        display: block;
        @include phone {
            display: none;
        }
        .slick-dots {
            bottom: -50px;
        }
        .slick-active button {
            border: 1px solid black;
            border-radius: 50%;
        }
        .slick-dots li button:before {
            top: 1px;
        }
        .slick-arrow {
            display: none;
        }
    }
    &__slider-phone {
        display: none;
        @include phone {
            display: block;
        }
        /* the parent */
        .slick-list {
            margin-left: -27px;
        }
        .slick-slide {
            margin-left: 27px;
            img {
                display: block;
                max-width: 100%;
                min-width: 305px;
            }
        }
    }
    .mobile-slider-arrow {
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 36px;
        &__right {
            margin-left: 47px;
            transform: rotate(180deg);
        }
        @include phone {
            display: flex;
        }
    }
}

.contacts {
    display: flex;
    justify-content: center;
    padding-top: 164px;
    padding-bottom: 153px;
    @include phone {
        display: block;
        padding-top: 94px;
        padding-bottom: 94px;
    }
    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin: 25px 0 18px 0;
    }
    p,
    a {
        color: black;
        text-decoration: none;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        display: block;
    }
    &__col {
        text-align: center;
        width: 353px;
        @include phone {
            width: 100%;
            margin-bottom: 54px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 104px;
    color: black;
    background-color: $primary;
    .container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: black;
        text-decoration: none;
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
        @include phone {
            margin-bottom: 20px;
        }
    }
    &__right {
        @include phone {
            width: 70%;
            display: grid;
            grid-template-columns: 50% 50%;
            padding-top: 22px;
        }
    }
    &__logo {
        @include phone {
            max-width: 76px;
        }
    }
}