@import "_mixins.scss";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
}

.heading {
    font-family: 'Cormorant Garamond', serif;
}

.container {
    max-width: 1144px;
    margin: 0 auto;
    @include tablet {
        max-width: 878px;
    }
    @include tablet-port {
        max-width: 670px;
    }
    @include phone {
        max-width: 375px;
    }
}